.wishlist {
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column; /* 수직 레이아웃 */
    justify-content: flex-start; /* 콘텐츠 상단부터 배치 */
    align-items: center;
    box-sizing: border-box;
}

/* 좋아요 아이콘 */
.like-icon {
    position: absolute;
    top: 0;
    right: 8px;
    font-size: 20px;
    -webkit-background-clip: text; /* 텍스트에만 그라데이션 적용 */
    -webkit-text-fill-color: transparent; /* 텍스트 내부를 투명하게 처리 */
    z-index: 9;
}

/* 찜한 영화 없음 메시지 */
.wishlist .empty-message {
    font-size: 1.5em;
    color: gray;
    margin-top: 50px;
}

