body, .home {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #141414;
    color: white;
}

.top-banner {
    position: relative;
    width: 100%;
    height: 90vh; /* 배너 높이 조정 */
    background-size: cover; /* 화면에 맞도록 이미지 확장 */
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    padding: 20px;
    margin-bottom: 10px;
}

.top-banner-content {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* 하단 정렬 */
    align-items: flex-start; /* 좌측 정렬 */
    background: rgba(0, 0, 0, 0.3); /* 약간의 투명 배경 */
    border-radius: 10px;
    box-sizing: border-box;
}

.top-banner-title {
    font-size: 2.5em;
    padding-left: calc(2vh + 40px);
    margin-bottom: 10px;
}

.top-banner-overview {
    font-size: 1em;
    max-width: 70vh;
    text-align: justify;
    padding-bottom: 40px;
    padding-left: calc(2vh + 40px);
}

.movies-section {
    margin-top: 7vh;
    margin-bottom: 10px;
    padding: 0 20px;
}

.movies-section h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
    padding: 0 calc(2vh + 40px);
}

.movies-row-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px; /* 버튼과 영화 행 사이의 거리 */
    padding: 0 0;
}

.movies-row {
    display: flex;
    gap: 15px;
    padding: 0;
    width: 100%;
    overflow: hidden;
    position: relative; /* 자식 요소들의 기준이 되는 위치 */
    scroll-snap-type: x mandatory; /* 스냅 스크롤 적용 */
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; /* 모바일 장치에서의 부드러운 스크롤 */
    transition: transform 0.5s ease; /* 부드러운 이동 모션 */
    will-change: transform; /* 성능 최적화 */
}

.movies-row.no-hover .movie-card {
    pointer-events: none; /* 호버 비활성화 */
}

.movies-row::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
}

.home-movie-card {
    flex: 0 0 calc((100% - 15px * 5) / 6); /* 카드 너비 균등 분배 */
    background-color: #222;
    border-radius: 8px;
    transition: transform 0.3s ease, z-index 0.3s ease; /* 부드러운 확대 효과 */
    scroll-snap-align: start; /* 각 카드가 스냅에 맞춰 정렬되도록 설정 */
    position: relative; /* 부모 레이아웃과 독립 */
    z-index: 1; /* 기본 z-index */
    cursor: pointer;
}

.home-movie-card:hover {
    transform: scale(1.05); /* x축은 그대로, y축만 확대 */
    z-index: 5; /* 확대된 카드가 위로 올라오도록 설정 */
}
.home-movie-poster {
    width: 100%;
    height: auto;
    display: block;
}

.scroll-button {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.7); /* 기본 상태: 덜 밝은 흰색 */
}
.scroll-button.hidden {
    visibility: hidden;
}
.scroll-button.show {
    visibility: visible;
}
.scroll-button:hover {
    background-color: rgba(0, 0, 0, 0.7); /* 호버 시 배경색 더 어둡게 */
    color: rgba(255, 255, 255, 1); /* 호버 시 완전히 밝은 흰색 */
}

.home-movie-liked-icon {
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
    background: linear-gradient(to bottom, orange, red); /* 노랑 -> 빨강 */
    -webkit-background-clip: text; /* 텍스트에만 그라데이션 적용 */
    -webkit-text-fill-color: transparent; /* 텍스트 내부를 투명하게 처리 */
    z-index: 9;
}

@media (max-width: 1000px) {
    .movies-section {
        margin-top: 3vh;
        margin-bottom: 10px;
        padding: 0 20px;
    }

    .movies-section h2 {
        margin-bottom: 15px;
        font-size: 1.3em;
        padding: 0 calc(2vh + 40px);
    }

}

@media (max-width: 768px) {
    .top-banner {
        height: 70vh;
    }

    .movies-section {
        margin: 20px 0 10px 0;
        padding: 0;
    }

    .movies-section h2 {
        font-size: 1.2em;
    }

    .movies-row-container {
        padding: 0 0;
    }

    .home-movie-card {
        flex: 0 0 calc((100% - 12px * 5) / 5);
    }

    .home-movie-poster {
        width: 100%;
        height: auto;
        display: block;
    }

    .top-banner-title {
        font-size: 1.8em;
        padding-left: 20px;
        margin-bottom: 10px;
    }

    .top-banner-overview {
        font-size: 0.9em;
        max-width: 80vw;
        text-align: justify;
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .scroll-button.left {
        margin-left: 1vh;
    }
    .scroll-button.right {
        margin-right: 1vh; /* 오른쪽 버튼과 영화 행 사이에 여백 추가 */
    }
}

@media (max-width: 600px) {
    .top-banner {
        height: 50vh;
    }

    .home-movie-card {
        flex: 0 0 calc((100% - 12px * 4) / 4);
    }
    .movies-section h2 {
        font-size: 1em; /* 섹션 제목 크기 조정 */
    }
    .scroll-button.left {
        margin-left: 0;
    }
    .scroll-button.right {
        margin-right: 0; /* 오른쪽 버튼과 영화 행 사이에 여백 추가 */
    }

    .home-movie-liked-icon {
        font-size: 15px;
    }

    .top-banner-title {
        font-size: 1.5em;

        padding-left: 20px;
        margin-bottom: 10px;
    }

    .top-banner-overview {
        font-size: 0.7em;

        max-width: 80vw;
        text-align: justify;
        padding-left: 20px;
        padding-bottom: 20px;
    }
}

@media (max-width: 450px) {
    .top-banner {
        height: 40vh;
    }
    .movies-section {
        margin-top: 10px;
        margin-bottom: 5px;
        padding: 0 0;
    }
    .home-movie-liked-icon {
        font-size: 10px;
    }
    .top-banner-title {
        font-size: 1.2em;
    }

    .top-banner-overview {
        font-size: 0.7em;

        padding-bottom: 7px;
    }
}
